*{

box-sizing: border-box;
margin: 0;
padding: 0;

}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,400&display=swap');

// .gridcontenedorin{

//     background-color: pink;
//     border: 1px solid white;

//  img{

// height: 100%;
// width:100%;
// }}

.main-contenedor{
    display: grid;
    // color: wheat;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 20% 206% 15%;
    // background-color: rgb(120, 15, 15);
    grid-template-areas:
     'navbar navbar'
     'sidebar products' 
     'footer footer';

    navbar{
        // display: flex;
        // justify-content:;
        display: flex;
        align-items: center;
        justify-content: center;
        // height: 60px;
        background-color: rgba(37,82,123,255);
        grid-area: navbar;
        font-family: Ubuntu, regular;
        color: aliceblue;
    }

    sidebar{
        // height: 610px;
        
        // background-color: rgba(231,231,231,255);
        background-color: red($color: #000000);
        grid-area: sidebar;
    }

    products{

        // height: 100px;
        // background-color: rgba(231,231,231,255);
        background-color: black;
        grid-area: products;

img{

    width: 200px;
    height: 200px;
}

    }

     footer{

        // height: 50px;
        background-color: rgba(37,82,123,255);
        grid-area: footer;
    }
}