*{

box-sizing: border-box;
margin: 0;
padding: 0;

}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,400&display=swap');


.main-contenedor{
    display: grid;
    // color: wheat;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: auto auto auto;
    
    // height: 100vh;
    background-color: rgba(231,231,231,255);
    grid-template-areas:
     'navbar navbar'
     'sidebar products' 
     'footer footer';

navbar{
        // display: flex;
        // justify-content:;
        display: flex;
        align-items: center;
        justify-content: center;
       height: 60px;
        background-color: rgba(37,82,123,255);
        grid-area: navbar;
        font-family: Ubuntu, regular;
        color: aliceblue;
        
}

sidebar{
        background-color: rgba(231,231,231,255);
        margin: 20px 0 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        text-align: left;
        // height: 610px;
        grid-area: sidebar;
        height: 100vh;

       .titulo{

        font-size: 20px;

       }
}


   

products{
    display: grid;
    grid-area: products;
    height: 100px;
    


    .grid-container{

        display: grid;
        grid-template-columns: auto auto auto;
        // gap: 4px;
     
        justify-items: center;
        align-items: center;
        height: 100vh;
        text-align: center;
        
    
    }
    .grid-item img{

height: 200px;
width: 180px;



    }
}

.grid-item{
    background-color: rgb(255, 255, 255);
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;


}

.btncomprar{
    margin: 8% 0 0 0;;
    font-family: Ubuntu, regular;
    background-color: rgba(37,82,123,255);
    color: rgb(255, 255, 255);
    
}

.nombre{

    margin: 20px 0 0 0;

}
.precio{

    margin: 10px 0 0 0;;

}

footer{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        background-color: rgba(37,82,123,255);
        grid-area: footer;
        font-family: Ubuntu, regular;
        color: aliceblue;
}



}

